In [1]:
pip install selenium

Requirement already satisfied: selenium in c:\users\hp\anaconda3\lib\site-packages (3.141.0)
Requirement already satisfied: urllib3 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (1.25.11)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import selenium
import pandas as pd
from selenium import webdriver

In [3]:
driver=webdriver.Chrome(r"C:\Users\HP\Downloads\chromedriver_win32\chromedriver.exe")

In [4]:
driver=webdriver.Chrome("chromedriver.exe")

In [5]:
url="https://www.naukri.com/"
driver.get(url)

In [6]:
# finding element for job search bar
search_job=driver.find_element_by_id('qsb-keyword-sugg')
search_job

In [7]:
search_job.send_keys('data scientist')

In [8]:
# finding element for job location bar
search_loc=driver.find_element_by_id('qsb-location-sugg')
search_loc

In [9]:
search_loc.send_keys('delhi')

In [10]:
# do click using by xpath function
search_btn=driver.find_element_by_xpath("//button[@class='btn']")
search_btn

In [11]:
search_btn.click()

In [12]:
# so lets the extract all the tag having the job titles
titles_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

In [13]:
titles_tags

[]

In [14]:
job_titles=[]
for i in titles_tags:
    job_titles.append(i.text)
job_titles

[]

In [15]:
## so lets the extract all the tag having the company tags
company_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

In [16]:
company_tags

[]

In [17]:
company_name=[]
for i in company_tags:
    company_name.append(i.text)

In [18]:
company_name

[]

In [19]:
# so lets the extract all the tag having the experience required data
experience_tags=driver.find_elements_by_xpath("//span[@class='ellipsis fleft fs12 lh16']")
experience_tags

[]

In [20]:
experience_list=[]
for i in experience_tags:
    experience_list.append(i.text)

In [21]:
experience_list

[]

In [22]:
experience=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]//span')

In [23]:
experience

[]

In [24]:
exp=[]
for i in experience:
    exp.append(i.text)

In [25]:
exp

[]

In [26]:
location_tag=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]//span')

In [27]:
location_tag

[<selenium.webdriver.remote.webelement.WebElement (session="fffb2f6d9951cef9e983d8e259269f30", element="3baefa98-a2f0-415e-aca3-cd77d4886cfa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fffb2f6d9951cef9e983d8e259269f30", element="869687cc-0803-4427-b071-020d34949c66")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fffb2f6d9951cef9e983d8e259269f30", element="ef21159b-a682-4aee-8070-d2f0baef5633")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fffb2f6d9951cef9e983d8e259269f30", element="ad344b6e-c903-4140-bc8d-b9f4a78d762f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fffb2f6d9951cef9e983d8e259269f30", element="a66d8a89-dca9-4217-8eb5-ea170a1c2114")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fffb2f6d9951cef9e983d8e259269f30", element="994fcae7-f331-4881-b3e6-8ffa5b1e31f2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fffb2f6d9951cef9e983d8e259269f30", element="16212a04-5d8d-4680-a881-7f3c02e41667")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fffb2f6d9951cef9e983d8e259269f30", element="39d229d9-fb0e-4024-a920-a8b47de4d682")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fffb2f6d9951cef9e983d8e259269f30", element="77b1c550-678e-4d34-ab78-ce204d0ac905")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fffb2f6d9951cef9e983d8e259269f30", element="18e5e315-a412-44aa-a1b5-8542e405af2e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fffb2f6d9951cef9e983d8e259269f30", element="6b6d2a2d-66a0-4c96-a395-69d8f686befb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fffb2f6d9951cef9e983d8e259269f30", element="32547a1a-41c0-4812-b5e4-01ab23390c7a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fffb2f6d9951cef9e983d8e259269f30", element="7faff032-dfe0-43f5-9db6-74a35c9efbb4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fffb2f6d9951cef9e983d8e259269f30", element="39d3e76b-8bd5-4864-bc13-0fc78bb71b29")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fffb2f6d9951cef9e983d8e259269f30", element="482ca35b-63d4-4203-ae4a-8e4833cd7d33")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fffb2f6d9951cef9e983d8e259269f30", element="6fdbd133-70aa-4a52-8b8d-a14f7c71acc7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fffb2f6d9951cef9e983d8e259269f30", element="b00af2a0-9070-4192-aaa6-ffde3a46a7fe")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fffb2f6d9951cef9e983d8e259269f30", element="4ccf6adf-865a-4b3b-b65d-2642664cb6f0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fffb2f6d9951cef9e983d8e259269f30", element="bd339f61-c235-4184-be5e-12079a69d1e2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fffb2f6d9951cef9e983d8e259269f30", element="44526348-02a5-4854-8746-b63f82696705")>]

In [28]:
loc_tag=[]
for i in location_tag:
    loc_tag.append(i.text)
loc_tag

['Pune, Delhi / NCR, Mumbai (All Areas)',
 'Gurgaon/Gurugram, Delhi / NCR',
 'Noida, Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR',
 'Mumbai, Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Noida, Chennai',
 'Chennai, Delhi / NCR',
 'Gurgaon/Gurugram',
 'Noida',
 'Delhi / NCR',
 'Gurgaon/Gurugram',
 'Gurgaon/Gurugram',
 'Gurgaon/Gurugram, Delhi / NCR',
 'Gurgaon/Gurugram, Delhi / NCR',
 'Noida',
 'Noida',
 'Noida',
 'Gurgaon/Gurugram',
 'Noida, Gurgaon/Gurugram']

In [29]:
print(len(job_titles),len(company_name),len(exp),len(loc_tag))

0 0 0 20

In [30]:
#import pandas as pd
jobs=pd.DataFrame({})
jobs["Titles"]=job_titles
jobs["Company"]=company_name
jobs["experience"]=exp
jobs["Location"]=loc_tag

In [31]:
jobs

,Titles,Company,experience,Location
0,NaN,NaN,NaN,"Pune, Delhi / NCR, Mumbai (All Areas)"
1,NaN,NaN,NaN,"Gurgaon/Gurugram, Delhi / NCR"
2,NaN,NaN,NaN,"Noida, Bangalore/Bengaluru"
3,NaN,NaN,NaN,"Hyderabad/Secunderabad, Gurgaon/Gurugram, Bang..."
4,NaN,NaN,NaN,"Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR"
5,NaN,NaN,NaN,"Mumbai, Gurgaon/Gurugram, Bangalore/Bengaluru"
6,NaN,NaN,NaN,"Noida, Chennai"
7,NaN,NaN,NaN,"Chennai, Delhi / NCR"
8,NaN,NaN,NaN,Gurgaon/Gurugram
9,NaN,NaN,NaN,Noida
10,NaN,NaN,NaN,Delhi / NCR
11,NaN,NaN,NaN,Gurgaon/Gurugram
12,NaN,NaN,NaN,Gurgaon/Gurugram
13,NaN,NaN,NaN,"Gurgaon/Gurugram, Delhi / NCR"
14,NaN,NaN,NaN,"Gurgaon/Gurugram, Delhi / NCR"
15,NaN,NaN,NaN,Noida
16,NaN,NaN,NaN,Noida
17,NaN,NaN,NaN,Noida
18,NaN,NaN,NaN,Gurgaon/Gurugram
19,NaN,NaN,NaN,"Noida, Gurgaon/Gurugram"

In [32]:
#scrape data from job opening

In [33]:
job_opening_urls=[]

url=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
for i in url:
    job_opening_urls.append(i.get_attribute('href'))
job_opening_urls

['https://www.naukri.com/job-listings-data-scientist-data-analyst-business-analyst-inflexion-analytix-private-limited-pune-delhi-ncr-mumbai-all-areas-0-to-3-years-040721000317?src=jobsearchDesk&sid=16260839032145267&xp=1&px=1',
 'https://www.naukri.com/job-listings-team-leader-operations-data-scientist-optimint-solutions-pvt-ltd-gurgaon-gurugram-delhi-ncr-2-to-5-years-100721001224?src=jobsearchDesk&sid=16260839032145267&xp=2&px=1',
 'https://www.naukri.com/job-listings-data-scientist-oracle-india-pvt-ltd-noida-bangalore-bengaluru-5-to-9-years-010621004567?src=jobsearchDesk&sid=16260839032145267&xp=3&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-inventiv-international-pharma-services-pvt-ltd-hyderabad-secunderabad-gurgaon-gurugram-bangalore-bengaluru-3-to-6-years-090721000064?src=jobsearchDesk&sid=16260839032145267&xp=4&px=1',
 'https://www.naukri.com/job-listings-exl-senior-data-scientist-5-yrs-mumbai-pune-blr-chennai-exl-service-pune-chennai-bangalore-bengaluru-delhi-ncr-5-to-10-years-080721005255?src=jobsearchDesk&sid=16260839032145267&xp=5&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-fractal-analytics-ltd-mumbai-gurgaon-gurugram-bangalore-bengaluru-4-to-8-years-290621500776?src=jobsearchDesk&sid=16260839032145267&xp=6&px=1',
 'https://www.naukri.com/job-listings-hcl-hiring-data-scientist-for-noida-location-hcl-technologies-limited-noida-chennai-4-to-9-years-230221006348?src=jobsearchDesk&sid=16260839032145267&xp=7&px=1',
 'https://www.naukri.com/job-listings-team-lead-sr-scientist-analytics-data-science-global-analytics-india-pvt-ltd-chennai-delhi-ncr-3-to-8-years-110920002909?src=jobsearchDesk&sid=16260839032145267&xp=8&px=1',
 'https://www.naukri.com/job-listings-data-scientist-sr-data-scientist-gartner-india-research-advisory-services-pvt-ltd-gurgaon-gurugram-4-to-8-years-070721500162?src=jobsearchDesk&sid=16260839032145267&xp=9&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-adv-ml-optum-global-solutions-india-private-limited-noida-6-to-11-years-050721905996?src=jobsearchDesk&sid=16260839032145267&xp=10&px=1',
 'https://www.naukri.com/job-listings-senior-manager-data-scientist-sunshine-teahouse-pvt-ltd-delhi-ncr-6-to-8-years-050721004831?src=jobsearchDesk&sid=16260839032145267&xp=11&px=1',
 'https://www.naukri.com/job-listings-lead-data-scientist-roundglass-gurgaon-gurugram-7-to-12-years-090721500205?src=jobsearchDesk&sid=16260839032145267&xp=12&px=1',
 'https://www.naukri.com/job-listings-lead-data-scientist-roundglass-partners-rgp-gurgaon-gurugram-7-to-10-years-090721502009?src=jobsearchDesk&sid=16260839032145267&xp=13&px=1',
 'https://www.naukri.com/job-listings-co-founder-principal-data-scientist-senior-scientist-benovymed-healthcare-gurgaon-gurugram-delhi-ncr-5-to-10-years-010721906105?src=jobsearchDesk&sid=16260839032145267&xp=14&px=1',
 'https://www.naukri.com/job-listings-co-founder-principal-data-scientist-senior-data-scientist-benovymed-healthcare-private-limited-gurgaon-gurugram-delhi-ncr-2-to-7-years-300621907284?src=jobsearchDesk&sid=16260839032145267&xp=15&px=1',
 'https://www.naukri.com/job-listings-developers-data-scientist-agreeya-solutions-india-private-limited-noida-3-to-5-years-070721501154?src=jobsearchDesk&sid=16260839032145267&xp=16&px=1',
 'https://www.naukri.com/job-listings-data-scientist-noida-agreeya-solutions-india-private-limited-noida-3-to-7-years-170521001696?src=jobsearchDesk&sid=16260839032145267&xp=17&px=1',
 'https://www.naukri.com/job-listings-data-scientist-agreeya-solutions-india-private-limited-noida-3-to-7-years-050721501318?src=jobsearchDesk&sid=16260839032145267&xp=18&px=1',
 'https://www.naukri.com/job-listings-data-scientist-ebullient-securities-pvt-ltd-gurgaon-gurugram-4-to-8-years-090721002693?src=jobsearchDesk&sid=16260839032145267&xp=19&px=1',
 'https://www.naukri.com/job-listings-data-scientist-insurance-huquo-consulting-pvt-ltd-noida-gurgaon-gurugram-2-to-7-years-060721902641?src=jobsearchDesk&sid=16260839032145267&xp=20&px=1']

In [34]:
job_titles=[]
for i in job_opening_urls:
    driver.get(i)
    job_title=driver.find_elements_by_xpath('//h1[@class="jd-header-title"]')
    for i in job_title:
        job_titles.append(i.text)
job_titles

['Data Scientist/Data Analyst /Business Analyst',
 'Team Leader Operations/Data Scientist',
 'EXL - Senior Data Scientist, 5+ yrs, Mumbai / PUNE / BLR / Chennai',
 'Senior Data Scientist',
 'Data Scientist/ Sr Data Scientist',
 'Senior Data Scientist - Adv ML',
 'Senior Manager- Data Scientist',
 'Lead , Data Scientist',
 'Lead , Data Scientist',
 'Co-Founder & Principal Data Scientist/Senior Scientist',
 'Co-Founder - Principal Data Scientist/Senior Data Scientist',
 'Developers Data Scientist',
 'Data Scientist - Noida',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist - Insurance']

In [35]:
#scrape data from multiple pages

In [55]:
page_url=[]
url=driver.find_elements_by_xpath('//div[@class="fleft pages"]//a')

In [56]:
for i in url:
    page_url.append(i.get_attribute('href'))

In [57]:
page_url

['https://www.naukri.com/data-scientist-jobs-in-delhi',
 'https://www.naukri.com/data-scientist-jobs-in-delhi-2',
 'https://www.naukri.com/data-scientist-jobs-in-delhi-3',
 'https://www.naukri.com/data-scientist-jobs-in-delhi-4',
 'https://www.naukri.com/data-scientist-jobs-in-delhi-5',
 'https://www.naukri.com/data-scientist-jobs-in-delhi-6',
 'https://www.naukri.com/data-scientist-jobs-in-delhi-7',
 'https://www.naukri.com/data-scientist-jobs-in-delhi-8',
 'https://www.naukri.com/data-scientist-jobs-in-delhi-9',
 'https://www.naukri.com/data-scientist-jobs-in-delhi-10']

In [61]:
job_titles=[]
for i in page_url:
    driver.get(i)
    titles_tag=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
    for i in titles_tag:
        job_titles.append(i.text)

In [62]:
job_titles

['Data Scientist / Data Analyst - ( BFSI Industry ) - New Delhi',
 'Only Fresher / Data Scientist / Data Analyst / Analytics - MNC Jobs',
 'Data Scientist & Analytics (Risk Mgnt), Banking Domain',
 'Python Data Scientist',
 'Python Data Scientist',
 'Data Scientist',
 'Data Scientist IV',
 'CN - Strategy - MC - T&O - OA Data Scientist (NLP)',
 'CN - Strategy - MC - T&O - OA Data Scientist ( NLP) - 11',
 'Data Scientist',
 'CN - Strategy - MC - T&O - OA Data Scientist (Advanced Analytics) - 09',
 'Senior Data Scientist - Product Development Firm - IIT/ NIT/ BITS',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist - NLP/ML/Python',
 'Data Scientist - Insurance - IIM/IIT/NIT',
 'Data Scientist - Insurance - IIM/ IIT/ NIT',
 'Data Scientist - BFSI',
 'Data Scientist - Machine Learning/ NLP',
 'SAVP - Data Scientist - Data Science Team - Insurance Domain',
 'Hiring For Data Scientist / Data Analyst',
 'Senior Data Scientist',
 'Co-Founder & Principal Data Scientist/Senior Scientist - NLP/Python',
 'Senior Data Scientist',
 'Data Scientist / Data Analyst - Mobile Gaming Company',
 'Data Scientist- Academic Operations- Pune, Chennai, Bangalore',
 'Senior data scientist',
 'Senior Data Scientist - Big Data/Databricks',
 'Sr. Data Scientist',
 'Senior Data Scientist',
 'Senior Data Scientist',
 'Senior Data Scientist with Python',
 'Data Scientist',
 'Looking For Data Scientist For Infogain',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist, Machine Learning',
 'Data Engineer/Data Scientist/Data Analysis',
 'Data Engineer/Data Scientist/Data Analysis',
 'Lead Data Scientist',
 'Data Analyst/Scientist- (Counterparty Credit risk)',
 'Data Scientist - Machine Learning/ NLP',
 'Data Scientist',
 'Data Scientist -Delhi',
 'MNC Hiring For " Director- Data Scientist" - Gurgaon',
 'ML Engineer / Data Scientist',
 'Farfetch - Senior Data Scientist',
 'Senior Data Scientist',
 'Senior Data Scientist',
 'Senior Data Scientist',
 'Senior Data Scientist',
 'Sr. Data Scientist',
 'Senior Deep Learning Data Scientist',
 'Senior data scientist',
 'Senior Data Scientist - Mobile Application',
 'Data Scientist',
 'Data Scientist (Solid experience in R ) Immediate Joiner Gurgaon',
 'S&P Global - Lead Data Scientist, GGN / HYD 8+Years',
 'Data - Analyst / Senior Analyst (Data Scientist) with Gaming Company',
 'Lead Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist - Manufacturing Domain (SCM aspect) Location Open',
 'CBTS is hiring Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'DATA SCIENTIST (Analytics Technology)',
 'Data Scientist',
 'Senior Manager - Data Scientist - Banking Domain - IIT/NIT/BITS',
 'Machine Learning Engineer/ Data Scientist',
 'Machine Learning Engineer / Data Scientist',
 'Machine Learning Engineer / Data Scientist',
 'Sr Data Analyst/Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Associate Data Scientist',
 'Associate Data Scientist',
 'MNC Hiring For " Director- Data Scientist" - Gurgaon',
 'Associate Vice President - Data Scientist - IIT/NIT/IIM/XLRI',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'DATA SCIENTIST',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist - Noida',
 'Data Scientist',
 'DATA SCIENTIST',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'DATA ARCHITECT/DATA SCIENTIST',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist - Text NLP | Noida',
 'data scientist - biotechnology Jobs',
 'Specialist data scientist',
 'Manager- Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Engineers /Data Scientist - CES IT LTD - CMMI LVL 5',
 'Data Analyst/Scientist',
 'Data Scientist (Time Series)',
 'Data Scientist (NLP)',
 'Data Scientist (Machine Learning & Python)',
 'Data Scientist',
 'Data Scientist - Insurance - IIM/ IIT/ NIT',
 'Data Scientist - Process Excellence & Analytics',
 'Data Scientist - BFSI',
 'Lead - Data Scientist - Banking Domain - IIT/ NIT/ BITS',
 'Data Scientist - Python - BFS - IIT/DSE/IIM/NIT',
 'Data Scientist - Machine Learning/NLP',
 'Data Scientist - Machine Learning',
 'Data Scientist - BFSI',
 'Data Scientist - Machine Learning/NLP',
 'Sr.Data Scientist',
 'Acon / Con - Data Scientist',
 'Data Scientist - SAS/ SQL/ SPSS',
 'Data Scientist',
 'Data Scientist -Python, ML',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist - KPO',
 'Data Scientist (NLP + AWS)',
 'Data Scientist (NLP + AWS)',
 'SAVP Data Scientist',
 'Data Analyst / Data Scientist - Gurgaon',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist Jobs']

In [63]:
len(job_titles)

160